<suite name="Automation Practice Test Suit" parallel="methods" thread-count="8" verbose="1">

    <test name="UI Automation Test">

       	<parameter name="browser" value="${browser}" />
		<parameter name="isLamdaTest" value="${isLamdaTest}" />
		<parameter name="isHeadless" value="${isHeadless}" />

        <classes>
            <class name="com.ui.tests.LoginTest"/>
        </classes>

    </test>

</suite>