name: Test Automation WorkFlow

on:
  push:
    branches: [ "master" ]

  pull_request:
    branches: [ "master" ]

  schedule:
    - cron: "0 13 * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout Repository
      - name: Checkout code
        uses: actions/checkout@v4

      # Setup Java
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven

      # Run Tests
      - name: Run Test Automation Framework
        run: mvn test -Dbrowser=chrome -DisLamdaTest=true -DisHeadless=false

      # Upload Logs
      - name: Upload Test Logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-logs
          path: logs/

      # Upload Screenshots
      - name: Upload Screenshots
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: screenshots
          path: screenshots/

      # Upload HTML Report
      - name: Upload HTML Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: report.html

      # Copy Report for GitHub Pages
      - name: Prepare Report for Deployment
        if: always()
        run: |
          mkdir -p public/extent-reports
          
          if [ -f report.html ]; then
            cp report.html public/extent-reports/
          fi
          
          if [ -d screenshots ]; then
            cp -R screenshots public/extent-reports/
          fi
          
          ls -R public

      # Deploy to GitHub Pages
      - name: Deploy to GitHub Pages
        if: always()
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: public/extent-reports
          token: ${{ secrets.PAT123 }}
          clean: true
